<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define Spring beans for the commands -->
    <bean id="registerCommand" class="com.example.Exo4.RegisterCommand"/>
    <bean id="reportCommand" class="com.example.Exo4.ReportCommand"/>

</beans>